<!-- three_box -->
<div class="three_box">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box_text">
          <i><img src="assets/images/thr.png" alt="#" /></i>
          <h3>Ordinateur de Bureau</h3>
          <p>
            L'ordinateur de bureau reste l'appareil par excellence pour un usage
            professionnel. Complet et performant, il vous offrira un confort
            optimal et une fluidité ...
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_text">
          <i><img src="assets/images/thr1.png" alt="#" /></i>
          <h3>Ordinateur Portable</h3>
          <p>
            Les meilleures marques d'ordinateurs portables, y compris les
            ordinateurs portables Dell, portables HP, Lenovo, Acer, ordinateur
            portable Apple ou MacBook ...
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_text">
          <i><img src="assets/images/thr2.png" alt="#" /></i>
          <h3>Tablette</h3>
          <p>
            Découvrez l'univers iPad. Avec les tout nouveaux iPad et iPad mini,
            et les puissants iPad Pro et iPad Air. Tablettes Samsung,Acer,
            Huawei, GooglePixel et accessoires à prix discount. Découvrez notre
            catalogue de tablettes !
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- three_box -->
