<!-- banner -->
<section class="banner_main">
  <div id="banner1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#banner1" data-slide-to="0" class="active"></li>
      <li data-target="#banner1" data-slide-to="1"></li>
      <li data-target="#banner1" data-slide-to="2"></li>
      <li data-target="#banner1" data-slide-to="3"></li>
      <li data-target="#banner1" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-md-6">
                <div class="text-bg">
                  <span>Ordinateur de Bureaux et Portables</span>
                  <h1>Accessoires</h1>
                  <p>
                    Chez KhitmaTech retrouvez les meilleurs appareils a un prix
                    defiant toute concurrence !
                  </p>
                  <a href="#">Acheter Maintenant</a>
                  <a routerLink="/contact">Contact </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text_img">
                  <figure><img src="assets/images/pct.png" alt="#" /></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-md-6">
                <div class="text-bg">
                  <span></span>
                  <h1>Tablette pour enfant!</h1>
                  <p>
                    Vous voulez que votre enfant soit a la pointe de la
                    technology? KhitmaTechnology a tout ce qu'il faut pour vous
                    fournir a vous mais aussi a vos enfants des appareils de
                    haut de gamme pour faciliter son insertion dans ce monde
                    HighTech.
                  </p>
                  <a href="https://wa.me/+221773712027/?text=urlencodedtext"
                    >Acheter Maintenant</a
                  >
                  <a href="contact.html">Contact </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text_img">
                  <figure><img src="assets/images/pct.png" alt="#" /></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-md-6">
                <div class="text-bg">
                  <span>Ordinateur Portable</span>
                  <h4>Accessoires pour odinateur portable</h4>
                  <p>
                    L'ordinateur familial donne une incontournable ouverture sur
                    le monde car il peut être pour l'enfant un formidable outil
                    qui lui permet de découvrir progressivement les différentes
                    fonctions. L'ordinateur peut entrer au service de ses
                    apprentissages car il donne accès à une multitude
                    d'informations.
                  </p>
                  <a href="https://wa.me/+221773712027/?text=urlencodedtext"
                    >Acheter Maintenant
                  </a>
                  <a href="contact.html">Contact </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text_img">
                  <figure><img src="assets/images/pct.png" alt="#" /></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-md-6">
                <div class="text-bg">
                  <span>Smartphone</span>
                  <h6>Accessoires pour Smartphone</h6>
                  <p>
                    Iphones, produits Iphones, Samsung, One plus, Huawei... Chez
                    KhitmaTechnology il y'en a pour tous les goûts et couleurs,
                    des produits tout droit debarques des USA, QUALITY will
                    remain when the price is forgotten!
                  </p>

                  <!-- <a href="https://wa.me/whatsappphonenumber/?text=urlencodedtext"></a> -->
                  <a href="https://wa.me/+221773712027/?text=urlencodedtext"
                    >Buy Now
                  </a>
                  <a href="contact.html">Contact </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text_img">
                  <figure><img src="assets/images/pct.png" alt="#" /></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#banner1"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#banner1"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>
</section>
<!-- end banner -->
