<img src="assets/images/top1.jpg" alt="" />
<br /><br /><br /><br /><br />
<!-- laptop  section -->
<div class="laptop">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="titlepage">
          <p>Every Computer and laptop</p>
          <h2>Up to 40% off !</h2>
          <a class="read_more" href="#">Shop Now</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="laptop_box">
          <figure><img src="assets/images/pc.png" alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/laptop1.png" alt="Avatar" style="width: 45%" />
    <div class="container">
      <h2><b> Description:</b></h2>
      <p>
        Les processeurs Intel® Core™ H Series de 11e génération à quatre cœurs
        gèrent vos charges de travail les plus complexes. Obtenez l’incroyable
        puissance et la performance de se concentrer sur les choses que vous
        aimez. Créer à la vitesse supérieure. Mettez-vous au diapason de
        l’Ampère primé – l’architecture RTX de 2e génération de NVIDIA, qui
        permet de créer des graphiques radiographiques et des fonctions
        d’intelligence artificielle de pointe à partir de NVIDIA® GeForce RTX™
        3050 Ti.
      </p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/laptop3.webp" alt="Avatar" style="width: 55%" />
    <div class="container">
      <h4><b>Dell XPS Computer Monitors All-in-One Desktop</b></h4>
      <p>
        Large Quad HD vous donne 78 pour cent plus de pixels dans l’ensemble et
        33 pour cent plus de pixels par pouce que Full HD, avec une résolution
        de 2550 x 1440 yeux (par rapport à 1920 x 1080). C’est la plus haute
        résolution que vous pouvez obtenir sur un Windows 8 touche tout en un.
      </p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/laptop4.webp" alt="Avatar" style="width: 45%" />
    <div class="container">
      <h4><b>Dell Lattitude office computer desk</b></h4>
      <p>
        Large Quad HD vous donne 78 pour cent plus de pixels dans l’ensemble et
        33 pour cent plus de pixels par pouce que Full HD, avec une résolution
        de 2550 x 1440 yeux (par rapport à 1920 x 1080). C’est la plus haute
        résolution que vous pouvez obtenir sur un Windows 8 touche tout en un.
      </p>
    </div>
  </div>
  <!-- end laptop  section -->
  <hr />
</div>
